@CHARSET "UTF-8";

.labels {
	font-family: "Helvetica", "Arial", "Lucida Grande", sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	white-space: nowrap;
	color: black;
	border: 1px black solid;
	text-decoration: none;
	text-shadow: none;
}

p {
	margin: 0px;
	padding: 0px;
}

.roomed {
	padding: 20px;
}

table tr td {
	margin: 0px;
	padding: 0px;
	font-family: "Helvetica", "Arial", "Lucida Grande", sans-serif;
	font-size: 14px;
}
